#define TRILAYER(IFLAYERS, THENLAYER)	\
	tri_layer {	                		\
	    if-layers = <IFLAYERS>;			\
		then-layer = <THENLAYER>;		\
	};

conditional_layers  {
	compatible = "zmk, conditional-layers";
	
	TRILAYER(NUMBER NAVI, SYMBOL)
};