#define TAP_DANCE(NAME, SEQUENCE)  					 	\
	NAME: tap_dance_##NAME {                       		\
	    compatible      = "zmk,behavior-tap-dance";		\
		label           = ZMK_MACRO_STRINGIFY(NAME);  	\
	    #binding-cells  = <0>;                    		\
	    tapping-term-ms = <TAPPING_TERM>;         		\
	    bindings        = SEQUENCE;         	 		\
	};

TAP_DANCE(shftcaps, "<&sk LSHFT>, <&caps_word>")