# Copyright (c) 2024 Curtis Bollinger
# SPDX-License-Identifier: MIT

if SHIELD_TEMPORAL_LEFT || \
    SHIELD_TEMPORAL_RIGHT

config ZMK_SPLIT_ROLE_CENTRAL
    default n

endif




if SHIELD_TEMPORAL_DONGLE

config ZMK_KEYBOARD_NAME
    default "Temporal"

config ZMK_SPLIT_ROLE_CENTRAL
    default y	

# Set this to the number of peripherals your dongle will have.
# For unibody, this would be 1
# For split keyboards, set it to 2, etc.
config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

# Set this to the sum of 
# ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
# and your desired number of BT profiles (default is 5)
config BT_MAX_CONN
    default 8

# Set this to the same number as BT_MAX_CONN
config BT_MAX_PAIRED
    default 8

endif




if SHIELD_TEMPORAL_LEFT || \
    SHIELD_TEMPORAL_RIGHT || \
    SHIELD_TEMPORAL_DONGLE

config ZMK_SPLIT
    default y

# this is not required but makes the Dongle RGB LED Status work
config ZMK_BLE
    default y

endif