/*
 * Copyright (c) 2026 Victor Nguyen
 *
 * SPDX-License-Identifier: MIT
 */

#include "temporal.dtsi"

/ {
    /*
     * mock scan
     */

    mock_kscan: mock_kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };
};

&chosen {
    zmk,kscan = &mock_kscan;
};

&trackpad_listener {
    status = "okay";
};
