/*
 * Copyright (c) 2024 Curtis Bollinger
 *
 * SPDX-License-Identifier: MIT
 */

#include "temporal_layouts.dtsi"

/ {
    /*
     * matrix scan
     */

    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix-transform = &default_transform;
    };

    /*
     * Encoder configuration
     *
     *   steps = 24 PPR x 4 quadrature transitions per pulse = 96
     *
     *   Pins are defined in the left and right overlay because the
     *   perpiherals use a Nice!Nano and the central uses Seeed Xiao BLE
     */

    left_encoder: encoder_left {
        compatible = "alps,ec11";
        steps = <96>;
        status = "disabled";
    };

    right_encoder: encoder_right {
        compatible = "alps,ec11";
        steps = <96>;
        status = "disabled";
    };

    sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&left_encoder &right_encoder>;
        triggers-per-rotation = <24>;
    };


    /*
     * Trackpad Configuration configuration
     */

    split_inputs {
        #address-cells = <1>;
        #size-cells = <0>;

        trackpad_split: trackpad_split@0 {
            compatible = "zmk,input-split";
            reg = <0>;
            status = "disabled";
        };
    };

    trackpad_listener: trackpad_listener {
        compatible = "zmk,input-listener";
        status = "disabled";
    };
};
