#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#include <behaviors/rgbled_widget.dtsi>

#define MACRO(NAME, BINDINGS) \
    NAME: NAME { \
        compatible = "zmk,behavior-macro"; \
        #binding-cells = <0>; \
        wait-ms = <5>; \
        tap-ms = <5>; \
        bindings = <BINDINGS>; \
    };

#define TAPHOLD_TP(NAME, TAP, HOLD) \
    NAME: NAME { \
        compatible = "zmk,behavior-hold-tap"; \
        flavor = "tap-preferred"; \
        #binding-cells = <2>; \
        tapping-term-ms = <200>; \
        quick-tap-ms = <125>; \
        require-prior-idle-ms = <125>; \
        bindings = <HOLD>, <TAP>; \
    };

/ {
    stuff {
        MACRO(mc_lt,            &kp LT)
        MACRO(mc_lgt,           &kp LT   &kp GT   &kp LEFT)
        TAPHOLD_TP(th_lgt,      &mc_lt,  &mc_lgt)
    };
};


//-----------------------------------

// put the default base layers first
#define _QWERTY     0
#define _NAVIGATION 1
#define _NUMBER     2
#define _SYMBOL     3
#define _FUNCTION   4

// layer changes
#define NUM                  &mo _NUMBER
#define NAV                  &mo _NAVIGATION
#define FUNC                 &mo _FUNCTION

//Behavior Configuration
#define TAPPING_TERM 200

//                           xxxxxxxxxx|xxxxxxxxxx|xxxxxxxxxx|xxxxxxxxxx|xxxxxxxxxx|xxxxxxxxxx
#define HRML(k1, k2, k3, k4) &mt LGUI k1   &mt LALT k2   &mt LCTRL k3  &mt LSHFT k4
#define HRMR(k1, k2, k3, k4) &mt RSHFT k1  &mt RCTRL k2  &mt RALT k3   &mt RGUI  k4

//#define HT(hold, tap)        &ht hold tap
#define KO_COMMA             &ht LPAR      COMMA
#define KO_DOT               &ht RPAR      DOT
#define KO_MINUS             &ht UNDER     MINUS

#define MACRO_BRC            &ht &insert_braces_brc LBRC
#define MACRO_LGT            &ht &insert_braces_lgt LT
#define MACRO_BKT            &ht &insert_braces_bkt LBKT
#define MACRO_PAR            &ht &insert_braces_par LPAR

#define MACRO_SQUO           &ht &double_tap_squote SQT
#define MACRO_DQUO           &ht &double_tap_dquote DQT
#define MACRO_FSLH           &ht &double_tap_fslash FSLH
#define MACRO_BSLH           &ht &double_tap_bslash BSLH
#define MACRO_PIPE           &ht &double_tap_pipe   PIPE

#define BT1                  &bt BT_SEL 0
#define BT2                  &bt BT_SEL 1
#define BT3                  &bt BT_SEL 2
#define BT4                  &bt BT_SEL 3
#define BT5                  &bt BT_SEL 4

#define BT_CLEAR             &bt BT_CLR
#define OUTPUT_BLE           &out OUT_BLE
#define OUTPUT_USB           &out OUT_USB



//                                                             xxxxxxxxxx|xxxxxxxxxx|xxxxxxxxxx|xxxxxxxxxx|xxxxxxxxxx|xxxxxxxxxx

#define __________                                             &trans
#define ____xx____                                             &none
#define _BASE_L4________________________                       &kp TAB    NUM        &kp LSHFT
#define _BASE_R4________________________                       &kp SPACE  NAV        &kp BSPC
#define _LAYER_TRANS____________________                       ____xx____ __________ ____xx____
#define _MODS_GACS_________________________________            &kp LGUI   &kp LALT   &kp LCTRL  &kp LSHFT
#define _MODS_SCAG_________________________________            &kp RSHFT  &kp RCTRL  &kp RALT   &kp RGUI
#define _SHORTCUTS_UCCPR______________________________________ &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &kp LC(Y)
#define _NONE_5_______________________________________________ ____xx____ ____xx____ ____xx____ ____xx____ ____xx____



//-----------------------------------

&lt {
    flavor = "tap-preferred";
    tapping-term-ms = <TAPPING_TERM>; // this works because ZMK processes C before devicetree files
};

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <TAPPING_TERM>;
};

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <TAPPING_TERM>;
            quick_tap_ms = <0>;
            bindings = <&kp>, <&kp>;
        };
    };

    macros {
        ZMK_MACRO(insert_braces_brc, wait-ms = <0>; tap-ms = <5>; bindings = <&kp LBRC &kp RBRC &kp LEFT>;)
        ZMK_MACRO(insert_braces_lgt, wait-ms = <0>; tap-ms = <5>; bindings = <&kp LT   &kp GT   &kp LEFT>;)
        ZMK_MACRO(insert_braces_bkt, wait-ms = <0>; tap-ms = <5>; bindings = <&kp LBKT &kp RBKT &kp LEFT>;)
        ZMK_MACRO(insert_braces_par, wait-ms = <0>; tap-ms = <5>; bindings = <&kp LPAR &kp RPAR &kp LEFT>;)

        ZMK_MACRO(double_tap_squote, wait-ms = <0>; tap-ms = <5>; bindings = <&kp SQT  &kp SQT  &kp LEFT>;)
        ZMK_MACRO(double_tap_dquote, wait-ms = <0>; tap-ms = <5>; bindings = <&kp DQT  &kp DQT  &kp LEFT>;)
        ZMK_MACRO(double_tap_fslash, wait-ms = <0>; tap-ms = <5>; bindings = <&kp FSLH &kp FSLH >;)
        ZMK_MACRO(double_tap_bslash, wait-ms = <0>; tap-ms = <5>; bindings = <&kp BSLH &kp BSLH >;)
        ZMK_MACRO(double_tap_pipe,   wait-ms = <0>; tap-ms = <5>; bindings = <&kp PIPE &kp PIPE >;)
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <_NUMBER _NAVIGATION>;
            then-layer = <_SYMBOL>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

//              xxxxxxxxxx|xxxxxxxxxx|xxxxxxxxxx|xxxxxxxxxx|xxxxxxxxxx|xxxxxxxxxx           xxxxxxxxxx|xxxxxxxxxx|xxxxxxxxxx|xxxxxxxxxx|xxxxxxxxxx|xxxxxxxxxx

        qwerty {
            bindings = <
                           &kp Q      &kp W      &kp E      &kp R      &kp T                &kp Y      &kp U      &kp I      &kp O      &kp P
                           HRML(A,    S,         D,         F)         &kp G                &kp H      HRMR(J,    K,         L,         SQT)
                FUNC       &kp Z      &kp X      &kp C      &kp V      &kp B                &kp N      &kp M      KO_COMMA   KO_DOT     KO_MINUS   &kp C_MUTE
                                                 _BASE_L4________________________           _BASE_R4________________________
            >;
        };

        navigation {
            bindings = <
                           ____xx____ &kp HOME   &kp UP     &kp END    &kp PG_UP            &kp INS    &kp K_APP  ____xx____ ____xx____   ____xx____
                           &caps_word &kp LEFT   &kp DOWN   &kp RIGHT  &kp PG_DN            &kp BSPC   _MODS_SCAG_________________________________
                __________ _SHORTCUTS_UCCPR______________________________________           &kp DEL    ____xx____ ____xx____ &kp C_VOL_DN &kp C_VOL_UP __________
                                                 &kp TAB    __________ &kp ENTER            _LAYER_TRANS____________________
            >;
        };

        number {
            bindings = <
                           &kp ESC    ____xx____ ____xx____ ____xx____ &th_lgt           &kp COMMA  &kp N7     &kp N8     &kp N9     ____xx____
                           _MODS_GACS_________________________________ ____xx____           &kp DOT    &kp N4     &kp N5     &kp N6     ____xx____
                __________ _SHORTCUTS_UCCPR______________________________________           &kp MINUS  &kp N1     &kp N2     &kp N3     ____xx____ __________
                                                 _LAYER_TRANS____________________           &kp N0     __________ &kp BSPC
            >;
        };

        symbol {
            bindings = <
                           &kp CARET  &kp AMPS   &kp AT     &kp DLLR   &kp GRAVE            &kp TILDE  &kp POUND  &kp ASTRK  &kp PLUS   MACRO_DQUO
                           &kp PRCNT  MACRO_BRC  &kp RBRC   MACRO_PIPE &kp SEMI             &kp COLON  &kp EQUAL  MACRO_BKT  &kp RBKT   MACRO_SQUO
                __________ ____xx____ MACRO_LGT  &kp GT     MACRO_BSLH &kp EXCL             &kp QMARK  MACRO_FSLH MACRO_PAR  &kp RPAR   ____xx____ __________
                                                 _LAYER_TRANS____________________           _LAYER_TRANS____________________
            >;
        };

        function {
            bindings = <
                           BT1        BT2        BT3        BT4        BT5                  ____xx____ &kp F7     &kp F8     &kp F9     &kp F10
                           _MODS_GACS_________________________________ ____xx____           ____xx____ &kp F4     &kp F5     &kp F6     &kp F11
                __________ BT_CLEAR   OUTPUT_BLE OUTPUT_USB &ind_con   &ind_bat             ____xx____ &kp F1     &kp F2     &kp F3     &kp F12    __________
                                                 _LAYER_TRANS____________________           ____xx____ ____xx____ ____xx____
            >;
        };
    };
};