#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#include <behaviors/rgbled_widget.dtsi>

#include "t4corun.h"

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <TAPPING_TERM>;
            quick_tap_ms = <QUICK_TAP_TERM>;
            bindings = <&kp>, <&kp>;
        };

        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <IDLE_TERM>;
            tapping-term-ms = <TAPPING_TERM>;
            quick-tap-ms = <QUICK_TAP_TERM>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = < KEYS_R >; // List of keys on the right side of the keyboard
            hold-trigger-on-release;
        };

        hmlo: home_row_mod_left_outer {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <IDLE_TERM>;
            tapping-term-ms = <TAPPING_TERM+50>;
            quick-tap-ms = <QUICK_TAP_TERM>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = < KEYS_R >; // List of keys on the right side of the keyboard
            hold-trigger-on-release;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <IDLE_TERM>;
            tapping-term-ms = <TAPPING_TERM>;
            quick-tap-ms = <QUICK_TAP_TERM>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = < KEYS_L >; // List of keys on the left side of the keyboard
            hold-trigger-on-release;
        };

        hmro: home_row_mod_right_outer {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <IDLE_TERM>;
            tapping-term-ms = <TAPPING_TERM+50>;
            quick-tap-ms = <QUICK_TAP_TERM>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = < KEYS_L >; // List of keys on the left side of the keyboard
            hold-trigger-on-release;
        };
    };
};

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <_NUMBER _NAVIGATION>;
            then-layer = <_SYMBOL>;
        };
    };
};

/ {
    symbols {
        MACRO(mc_lbrc,          &kp LBRC)
        MACRO(mc_brc,           &kp LBRC  &kp RBRC   &kp LEFT)
        HOLDTAP(ht_brc,         &mc_brc,  &mc_lbrc)

        MACRO(mc_lt,            &kp LT)
        MACRO(mc_lgt,           &kp LT    &kp GT     &kp LEFT)
        HOLDTAP(ht_lgt,         &mc_lgt,  &mc_lt)

        MACRO(mc_lbkt,          &kp LBKT)
        MACRO(mc_bkt,           &kp LBKT  &kp RBKT   &kp LEFT)
        HOLDTAP(ht_bkt,         &mc_bkt,  &mc_lbkt)

        MACRO(mc_lpar,          &kp LPAR)
        MACRO(mc_par,           &kp LPAR  &kp RPAR   &kp LEFT)
        HOLDTAP(ht_par,         &mc_par,  &mc_lpar)

        MACRO(mc_sqt,           &kp SQT)
        MACRO(mc_squo,          &kp SQT    &kp SQT   &kp LEFT)
        HOLDTAP(ht_sqt,         &mc_squo,  &mc_sqt)

        MACRO(mc_dqt,           &kp DQT)
        MACRO(mc_dquo,          &kp DQT    &kp DQT   &kp LEFT)
        HOLDTAP(ht_dqt,         &mc_dquo,  &mc_dqt)
    };
};


/ {
    keymap {
        compatible = "zmk,keymap";

//              xxxxxxxxxx|xxxxxxxxxx|xxxxxxxxxx|xxxxxxxxxx|xxxxxxxxxx|xxxxxxxxxx           xxxxxxxxxx|xxxxxxxxxx|xxxxxxxxxx|xxxxxxxxxx|xxxxxxxxxx|xxxxxxxxxx

        qwerty {
            bindings = <
                           &kp Q      &kp W      &kp E      &kp R      &kp T                &kp Y      &kp U      &kp I      &kp O      &kp P
                           HRML(A,    S,         D,         F)         &kp G                &kp H      HRMR(J,    K,         L,         SQT)
                FUNC       &kp Z      &kp X      &kp C      &kp V      &kp B                &kp N      &kp M      KO_COMMA   KO_DOT     KO_MINUS   &kp C_MUTE
                                                 _BASE_L4________________________           _BASE_R4________________________
            >;
        };

        gallium {
            bindings = <
                           &kp Q      &kp W      &kp E      &kp R      &kp T                &kp Y      &kp U      &kp I      &kp O      &kp P
                           HRML(A,    S,         D,         F)         &kp G                &kp H      HRMR(J,    K,         L,         SQT)
                FUNC       &kp Z      &kp X      &kp C      &kp V      &kp B                &kp N      &kp M      KO_COMMA   KO_DOT     KO_MINUS   &kp C_MUTE
                                                 _BASE_L4________________________           _BASE_R4________________________
            >;
        };

        navigation {
            bindings = <
                           ____xx____ &kp HOME   &kp UP     &kp END    &kp PG_UP            &kp INS    &kp K_APP  ____xx____ ____xx____   ____xx____
                           &caps_word &kp LEFT   &kp DOWN   &kp RIGHT  &kp PG_DN            &kp BSPC   _MODS_SCAG_________________________________
                __________ _SHORTCUTS_UCCPR______________________________________           &kp DEL    ____xx____ ____xx____ &kp C_VOL_DN &kp C_VOL_UP __________
                                                 &kp TAB    __________ &kp ENTER            _LAYER_TRANS____________________
            >;
        };

        number {
            bindings = <
                           &kp ESC    W_SNIP     ____xx____ ____xx____ ____xx____           &kp COMMA  &kp N7     &kp N8     &kp N9     ____xx____
                           _MODS_GACS_________________________________ ____xx____           &kp DOT    &kp N4     &kp N5     &kp N6     ____xx____
                __________ _SHORTCUTS_UCCPR______________________________________           &kp MINUS  &kp N1     &kp N2     &kp N3     ____xx____ __________
                                                 _LAYER_TRANS____________________           &kp N0     __________ &kp BSPC
            >;
        };

        symbol {
            bindings = <
                           &kp CARET  &kp AMPS   &kp AT     &kp DLLR   &kp GRAVE            &kp TILDE  &kp POUND  &kp ASTRK  &kp PLUS   MACRO_DQUO
                           &kp PRCNT  MACRO_BRC  &kp RBRC   &kp PIPE   &kp SEMI             &kp COLON  &kp EQUAL  MACRO_BKT  &kp RBKT   MACRO_SQUO
                __________ ____xx____ MACRO_LGT  &kp GT     &kp BSLH   &kp EXCL             &kp QMARK  &kp FSLH   MACRO_PAR  &kp RPAR   ____xx____ __________
                                                 _LAYER_TRANS____________________           _LAYER_TRANS____________________
            >;
        };

        function {
            bindings = <
                           BT1        BT2        BT3        BT4        BT5                  ____xx____ &kp F7     &kp F8     &kp F9     &kp F10
                           _MODS_GACS_________________________________ ____xx____           ____xx____ &kp F4     &kp F5     &kp F6     &kp F11
                __________ ____xx____ OUTPUT_BLE OUTPUT_USB &ind_con   &ind_bat             ____xx____ &kp F1     &kp F2     &kp F3     &kp F12    __________
                                                 ____xx____ ____xx____ BT_CLEAR             QWERTY     GALLIUM    ____xx____
            >;
        };
    };
};