#include <behaviors.dtsi>

#include "t4corun.h"

#include "../T4CORUN/homerowmods.dtsi"
#include "../T4CORUN/macros.dtsi"
#include "../T4CORUN/mouse.dtsi"
#include "../T4CORUN/tapdances.dtsi"

#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>


/ {
    behaviors {
		lt_pky: layertap_pinky {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYERTAP_PINKY";
            #binding-cells = <2>;
            tapping-term-ms = <TAPPING_TERM_PINKY>;
            flavor = "tap-preferred";
            bindings = <&mo>, <&kp>;
        };
    };
};

&lt {
    flavor = "tap-preferred";
    tapping-term-ms = <TAPPING_TERM>;
};

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <TAPPING_TERM>;
};

&mo {
    tapping-term-ms = <TAPPING_TERM>;
};