# Copyright (c) 2026 Victor Nguyen
# SPDX-License-Identifier: MIT

config SHIELD_TOTEM_LEFT
    def_bool $(shields_list_contains,totem_left)

config SHIELD_TOTEM_RIGHT
    def_bool $(shields_list_contains,totem_right)

config SHIELD_TOTEM_DONGLE
    def_bool \
        $(shields_list_contains,totem_prospector) || \
        $(shields_list_contains,totem_rgbdongle)
