/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "totem-layouts.dtsi"

&physical_layout0 {
    transform = <&default_transform>;
};

/ {
	chosen {
        zmk,kscan = &mock_kscan;
        zmk,matrix-transform = &default_transform; 
    };

    mock_kscan: mock_kscan_0 {
		compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };
};