/*
 * Copyright (c) 2026 Victor Nguyen
 *
 * SPDX-License-Identifier: MIT
 */

#include "totem.dtsi"

/ {

    chosen {
        zmk,kscan = &mock_kscan;
        zmk,physical-layout = &physical_layout0;
    };

    mock_kscan: mock_kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };

    row-gpios {
        // delete this node from totem.dtsi because
        // mock_kscan doesn't need any row-gpios
        /delete-node/ kscan0;
    };
};

&physical_layout0 {
    kscan = <&mock_kscan>;
};
