/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/*

#include <dt-bindings/zmk/matrix_transform.h>
#include "totem.dtsi"

&physical_layout0 {
    transform = <&default_transform>;
};

/ {
	chosen {
        zmk,ksan = &mock_kscan;
        zmk,matrix-transform = &physical_layout0; 
    };

    mock_kscan: mock_kscan_0 {
		compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };

};